doctype html
html
    head
        title Starter Kit
        meta(charset='utf-8')
        meta(name='viewport' content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1')
        block head
    body
        include includes/header.pug
        block content
        include includes/footer.pug
        block footer
            link(rel='stylesheet' href='css/muilessium.css')
            link(rel='stylesheet' href='css/main.css')
            link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu')
            script(src='js/muilessium.js')
            script(src='js/bundle.js')
