extends ../layout.pug

block append head
    //- append some markup to the head of the page (maybe stylesheets)

block append footer
    //- append some markup to the footer of the page (nonstandart scripts)

block content
    center
        h1 HTML Template
    center
        img(src='images/favicon.png')
    center
        small
            span Ivan Bogachev (
            a(href='https://sfi0zy.github.io/') @sfi0zy
            span ), 2017-2018
